In [2]:
import pandas as pd
import sqlite3
import os
os.getcwd()

'C:\\Users\\makim'

In [5]:
df1 = pd.read_csv("Python_project\WeatherInTokyo.csv")
df1.head(20)

# create the sqlite DB
db = sqlite3.connect("WeatherTokyo.db")

# convert the pandas dataframe to a sqlite table
df1.to_sql("weather", db, if_exists="replace")

# view dataframe
# df1
query = ''' 
SELECT * 
FROM weather
LIMIT 3'''
pd.read_sql_query(query,db)

C:\Users\makim\Anaconda3\lib\site-packages\pandas\core\generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

,index,date,condition,high_temp (° F),low_temp (° F),day_length,sun_rise,sun_set
0,0,Oct 21st 2019,Cloudy,61,54,11h 7m,5:52 AM,5:00 PM
1,1,Oct 22nd 2019,Rain,64,59,11h 5m,5:53 AM,4:59 PM
2,2,Oct 23rd 2019,Fair,63,54,11h 3m,5:54 AM,4:58 PM

In [12]:
query = '''
SELECT * 
FROM weather
WHERE "high_temp (° F)" <= 63;

'''

pd.read_sql_query(query,db)

,index,date,condition,high_temp (° F),low_temp (° F),day_length,sun_rise,sun_set
0,0,Oct 21st 2019,Cloudy,61,54,11h 7m,5:52 AM,5:00 PM
1,2,Oct 23rd 2019,Fair,63,54,11h 3m,5:54 AM,4:58 PM
2,4,Oct 25th 2019,Rain,63,57,10h 59m,5:56 AM,4:55 PM